<div class="main-container">
    <p class="heading">{{pageTitle}}</p>

    <div *ngIf="isError && !isLoading">
        <span class="error"> {{errorMessage}} </span>
    </div>

    <div *ngIf="isLoading">
        {{loadingMessage}}
    </div>

    <div *ngIf="!isError && !isLoading">
    <table>
            <thead>
                <tr>
                    <th colspan="5">Monthly Spend View</th>
                </tr>
                <tr>
                    <th>Month</th>
                    <th>Customer Number</th>
                    <th>Total Incoming</th>
                    <th>Total Outgoing</th>
                    <th>Closing Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of aggregateDataList">
                        <td>{{item.month}}</td>
                        <td>{{item.customerId}}</td>
                        <td>Rs.{{item.totalIncome}}</td>
                        <td>Rs.{{item.totalOutgoings}}</td>
                        <td>Rs.{{item.closingBalance}}</td>
                </tr>
            </tbody>
    </table>
    </div>

</div>
