:root {
    --orange: #fc6e20;
    --white: #ffffff;
    --black: #000000;
    --black-two: #2d2d2d;
    --black-three: #181818;
    --black-four: #120e24;
    --dark-brown: #3e1709;
    --greyish-brown: #626161;
    --light-gray: #f0f0f0;
    --warm-gray: #a09fa759;
    --red: #c40000;
    --green: #388e3c;
    --info: #25a9e0;
    --warning: #ffc107;
  }
  